* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  font-family: arial, sans-serif;
}

.header {
  font-size: 13px;
  color: rgb(0,0,0);
  width: 95%;
  height: 50px;
  margin: 10px;
}

.leftnav {
  height: 30px;
  width: 30%;
  float: left; 
  margin-left: 15px;
  margin-top: 10px;
}

.rightnav {
  height: 30px;
  float: right;
  text-align: end;
  margin-right: 25px;
  margin-top: 10px;
}

.logos {
  position: relative;
  float: right;
}

#btn_signin {
   background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    margin-right: 30px;
    padding: 0 12px;
    position: relative;
    bottom: 10px;
    left: 20px;
}

a {
   padding: 5px;
   margin: 5px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 500px;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchbar {
  display: block;
  width: 500px;
  height: 40px;
  margin: 20px;
  border-radius: 30px;
  border: 0.5px solid lightgrey;
}

.searchbar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  cursor: text;
}

input:focus {
  outline: none;
}

.buttoncontainer {
  /*border: 2px solid green;*/
  height: 50px;
  width: 550px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  width: 127px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(242, 242, 242);
  color: rgb(95, 99, 104);
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: rgb(242, 242, 242);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-color: rgb(228, 228, 228);
  border-top-style: solid;
  border-top-width: 1px;
}

.ff {
  border-bottom-color: rgb(228, 228, 228);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.location {
  padding: 10px; 
  margin: 5px 5px 5px 10px; 
}

.location p {
  font-size: 15px; 
  color: rgba(0, 0, 0, 0.54);
}


.info {
  padding: 5px; 
  margin: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: end;
  align-items: end;
  font-size: 13px;
  color: rgb(95, 99, 104);
}

.infoleft {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  margin-left: 5px;
  font-size: 13px;
  color: rgb(95, 99, 104);
}

.infoleft a {
  margin-left: 0;
}

.inforight {
  float: right;
  padding: 13px 10px 13px 10px;
  margin-left: 10px;
  font-size: 13px;
  color: rgb(95, 99, 104);
}